{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Eurofunnel</title>
        <meta name="description" content="A big, tapering pipe of videogame news, reviews, videos and screenshots." />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
        {% include_media "channelfunnel.css" %}
        {% include_media "channelfunnel.js" %}
    </head>
    <body>
        <div id="maincol">
            <h1>The Eurogamer Network Content Funnel</h1>
            <form method="GET" id="search" action="{% url search %}">
                <input title="Search terms" name="term" id="term" type="text" value="{{ term }}" placeholder="Search" class="ui-widget empty" />
                <button type="submit" title="Search"><img src="{% media_url 'img/search.png' %}" width="16" height="16" alt="Search"/></button>
                <script>
                    var cache = new Array();
                    $("#term").autocomplete( {
                        minLength: 2,
                        source: "{% url search_autocomplete %}",
                    } );
                </script>
            </form>
            {% block "content" %}
            {% endblock "content" %}
        </div>
    </body>
</html>
