{% extends "base.html" %}

{% block "content" %}
    <div class="articles">
        {% if filter_title %}
            <h3 class="filter">{{ filter_title }} (<a href="{% url home %}">Show all</a>)</h3>
        {% endif %}
        <ul>
        {% include "list.html" %}
        </ul>
    </div>
    <script>
    /*$('.articles ul').masonry({
        itemSelector: 'li.master',
        columnWidth: 316,
        isAnimated: true
    });*/
    $(window).infinitescroll({
        url: window.location.href,
        triggerAt: 150,
        appendTo: '.articles>ul',
        container: $('.articles>ul')
    });
    relateds = $('.articles ul li.master ul' );
    </script>
{% endblock "content" %}
